<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 contatti">
            <h1>Contatti</h1>
            <br>
            <p><fa-icon [icon]="maps"></fa-icon>   Le Case di Sciano 222/D<br>50052 Certaldo (FI)</p>
            <p><fa-icon [icon]="mail"></fa-icon>   danieleciulli1997@gmail.com</p>
            <p><fa-icon [icon]="phone"></fa-icon>   331 3095219</p>
        </div>
        <div class="col-6 col-md-2 col-lg-2">
            <ul class="list-group">
                <li class="list-group-item active">Categories</li>
                <li class="list-group-item">Mirrorless</li>
                <li class="list-group-item">Reflex</li>
                <li class="list-group-item">Lenses</li>
                <li class="list-group-item">Accessories</li>
            </ul>
        </div>
        <div class="col-6 col-md-2 col-lg-2">
            <ul class="list-group">
                <li class="list-group-item active">Information</li>
                <li class="list-group-item">About Us</li>
                <li class="list-group-item">Contact Us</li>
                <li class="list-group-item">Terms & Conditions</li>
                <li class="list-group-item">Shipping & Delivery</li>
            </ul>
        </div>
        <div class="col-6 col-md-2 col-lg-2">
            <ul class="list-group">
                <li class="list-group-item active">Useful Link</li>
                <li class="list-group-item">Store Location</li>
                <li class="list-group-item">My Account</li>
                <li class="list-group-item">Latest News</li>
                <li class="list-group-item">Portfolio</li>
            </ul>
        </div>
        <div class="d-none d-lg-block col-3">
            <ul class="list-group">
                <li class="list-group-item active">Instagram</li>
                <div class="container-fluid igRo">
                    <div class="row igRow">
                        <div class="col-6">
                            <img class="igPic" src="assets/heroBig.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="igPic" src="assets/heroSmall (1).jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="igPic" src="assets/heroSmall (2).jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="igPic" src="assets/heroSmall (3).jpg" alt="">
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
