nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0) !important;
    font-weight: bold;
}
.left{
    text-align: left;
}
.btn-group{
    background-color: inherit;
    font-weight: bolder !important;
}
.btn{
    display: inline;
    font-weight: bolder;
    color: white;
    background-color: inherit !important;
}