<nav class="container-flex" id="nav">
  <div class="row">
    <div class="col-4 left">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-left">Demo</button>
        <button type="button" class="btn btn-left">Shop</button>
        <button type="button" class="btn btn-left">Product</button>
        <button type="button" class="btn btn-left">Lookbook</button>
        <button type="button" class="btn btn-left">Blog</button>
      </div>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
  </div>
</nav>