img{
    width: 100%;
}

.col-6{
    padding: 5px;
}

h2,p{
    font-size: small;
}

.row{
    padding: 0px;
    text-align: left;
    height: 100%;
    width: 100% !important;
    padding: 20px;
}

.innerbox{
    width: 100%;
}

.text{
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
}