<p>home works!</p>
<div class="container-flex">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-12">
            <app-hero-big></app-hero-big>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <app-hero-small></app-hero-small>
        </div>
        <div class="col-12 col-md-4">
            <app-hero-small></app-hero-small>
        </div>
        <div class="col-12 col-md-4">
            <app-hero-small></app-hero-small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Prodotti</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2" >
            <app-product-btn></app-product-btn>
        </div>
        <div class="col-12"><button class="btn btn-dark">Load More</button></div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Latest Blog Post</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2" >
            <app-product-btn></app-product-btn>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Subscribe to Our Newsletter</h3>
            <form action="">
                <input type="text" placeholder="Your Email Address">
                <input type="submit" value="Suscribe" class="btn btn-dark">
            </form>
        </div>
    </div>
</div>
